
:root {
    --primary-color: #a67b5b;
    --secondary-color: #2f2f2f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: #222222;
    width: 100%;
    height: auto;
}

.show {
    display: contents;
    padding: 1rem;
    text-align: center;
}

.hide {
    display: none;
}

.darkMode {
    background-color: #222222;
    transition: 0.5s all ease;
}

.darkMode #search {
    &:focus {
        box-shadow: 4px 4px 4px 0 rgba(10, 10, 10, 1);
        background-color: #111111;
        color: #a67b5b;
    }
}

.darkButton {
    background-color: #a67b5b;
    color: #000000;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #a67b5b;
}

::-webkit-scrollbar-track {
    background-color: #a67b5b;
}

* {
    scrollbar-width: thin;
}

* {
    scrollbar-color: #444444 #a67b5b;
}
