* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background: #222222;
    width: 100%;
    height: auto;
}

.show {
    display: contents;
    padding: 1rem;
    text-align: center;
}

.hide {
    display: none;
}

.darkMode {
    background-color: #222222;
    transition: 0.5s all ease;
}

.darkMode #search {
    &:focus {
        background-color: #a67b5b;
        color: #000;
    }
}

.lightMode #search {
    &:focus {
        background-color: #a67b5b;
        color: #fff;
    }
}

.lightMode {
    background-color: #f1f1f1;
    transition: 0.5s all ease;
}

.lightButton {
    background-color: #444444;
    color: #fff;
}

.darkButton {
    background-color: #a67b5b;
    color: #000000;
}
