* {
    margin: 0;
    padding: 0;
}

body {
    background: #222222;
    width: 100%;
    height: auto;
}

.show {
    display: contents;
    padding: 1rem;
    text-align: center;
}

.hide {
    display: none;
}

.darkMode {
    background-color: #222222;
}

.lightMode {
    background-color: #f1f1f1;
}

.lightButton {
    background-color: #444444;
    color: #fff;
}

.darkButton {
    background-color: #a67b5b;
    color: #000000;
}
